/*
 *		pywal theme template for notepadqq by threadreaper
 *		https://github.com/threadreaper
 */

.cm-s-nqqwal .CodeMirror-gutters { background: #0F122D !important; }
.cm-s-nqqwal .CodeMirror-foldgutter-open, .CodeMirror-foldgutter-folded { color: #c3c3ca; }
.cm-s-nqqwal .CodeMirror-cursor { border-left: 1px solid #c3c3ca; background-color: rgba(63,59,113,0.4)}
.cm-s-nqqwal { background-color: #0F122D; color: #c3c3ca; }
.cm-s-nqqwal span.cm-builtin { color: #393755; font-weight: bold; }
.cm-s-nqqwal span.cm-comment { color: #616277; }
.cm-s-nqqwal span.cm-keyword { color: #6f4a57; font-weight: bold; }
.cm-s-nqqwal span.cm-atom { color: #492373; }
.cm-s-nqqwal span.cm-def { color: #392f84; }
.cm-s-nqqwal span.cm-variable { color: #3f3b71; }
.cm-s-nqqwal span.cm-variable-2 { color: #392f84; }
.cm-s-nqqwal span.cm-string { color: #393755; }
.cm-s-nqqwal span.cm-string-2 { color: #393755; }
.cm-s-nqqwal span.cm-number { color: #392f84; }
.cm-s-nqqwal span.cm-tag { color: #6f4a57; }
.cm-s-nqqwal span.cm-property { color: #3f3b71; }
.cm-s-nqqwal span.cm-attribute { color: #3f3b71; }
.cm-s-nqqwal span.cm-qualifier { color: #492373; }
.cm-s-nqqwal span.cm-meta { color: #392f84; }
.cm-s-nqqwal span.cm-header { color: #6f4a57; }
.cm-s-nqqwal span.cm-operator { color: #6f4a57; }
.cm-s-nqqwal span.CodeMirror-matchingbracket { box-sizing: border-box; background: transparent; border-bottom: 1px solid; }
.cm-s-nqqwal span.CodeMirror-nonmatchingbracket { border-bottom: 1px solid; background: none; }
.cm-s-nqqwal .CodeMirror-activeline-background { background: rgba(57,47,132,0.4); }
.cm-s-nqqwal div.CodeMirror-selected { background: #6f4a57; }
.cm-s-nqqwal .CodeMirror-focused div.CodeMirror-selected { background: #0F122D); }
