@define-color foreground #c3c3ca;
@define-color background #0F122D;
@define-color cursor #c3c3ca;

@define-color color0 #0F122D;
@define-color color1 #2d324e;
@define-color color2 #393755;
@define-color color3 #6f4a57;
@define-color color4 #492373;
@define-color color5 #392f84;
@define-color color6 #3f3b71;
@define-color color7 #94959e;
@define-color color8 #616277;
@define-color color9 #3C4368;
@define-color color10 #4D4A72;
@define-color color11 #956375;
@define-color color12 #622F9A;
@define-color color13 #4D3FB1;
@define-color color14 #554F97;
@define-color color15 #c3c3ca;
