@define-color borders_breeze #b1afa2;
@define-color content_view_bg_breeze #ffffff;
@define-color error_color_backdrop_breeze #0000ff;
@define-color error_color_breeze #0000ff;
@define-color error_color_insensitive_backdrop_breeze #8686ff;
@define-color error_color_insensitive_breeze #8686ff;
@define-color insensitive_base_color_breeze #e6e6e6;
@define-color insensitive_base_fg_color_breeze #8a8a8a;
@define-color insensitive_bg_color_breeze #d5d3c3;
@define-color insensitive_borders_breeze #c0bdb0;
@define-color insensitive_fg_color_breeze #807e75;
@define-color insensitive_selected_bg_color_breeze #d5d3c3;
@define-color insensitive_selected_fg_color_breeze #807e75;
@define-color insensitive_unfocused_bg_color_breeze #d5d3c3;
@define-color insensitive_unfocused_fg_color_breeze #807e75;
@define-color insensitive_unfocused_selected_bg_color_breeze #d5d3c3;
@define-color insensitive_unfocused_selected_fg_color_breeze #807e75;
@define-color link_color_breeze #8fb2f4;
@define-color link_visited_color_breeze #aa00ff;
@define-color success_color_backdrop_breeze #27ae60;
@define-color success_color_breeze #27ae60;
@define-color success_color_insensitive_backdrop_breeze #98c9ad;
@define-color success_color_insensitive_breeze #98c9ad;
@define-color theme_base_color_breeze #ffffff;
@define-color theme_bg_color_breeze #ece9d8;
@define-color theme_button_background_backdrop_breeze #f2f0e3;
@define-color theme_button_background_backdrop_insensitive_breeze #dcd9c8;
@define-color theme_button_background_insensitive_breeze #dcd9c8;
@define-color theme_button_background_normal_breeze #f2f0e3;
@define-color theme_button_decoration_focus_backdrop_breeze #eff3fd;
@define-color theme_button_decoration_focus_backdrop_insensitive_breeze #dadad7;
@define-color theme_button_decoration_focus_breeze #eff3fd;
@define-color theme_button_decoration_focus_insensitive_breeze #dadad7;
@define-color theme_button_decoration_hover_backdrop_breeze #eff3fd;
@define-color theme_button_decoration_hover_backdrop_insensitive_breeze #dadad7;
@define-color theme_button_decoration_hover_breeze #eff3fd;
@define-color theme_button_decoration_hover_insensitive_breeze #dadad7;
@define-color theme_button_foreground_active_backdrop_breeze #000000;
@define-color theme_button_foreground_active_backdrop_insensitive_breeze #807e75;
@define-color theme_button_foreground_active_breeze #000000;
@define-color theme_button_foreground_active_insensitive_breeze #807e75;
@define-color theme_button_foreground_backdrop_breeze #000000;
@define-color theme_button_foreground_backdrop_insensitive_breeze #83827b;
@define-color theme_button_foreground_insensitive_breeze #83827b;
@define-color theme_button_foreground_normal_breeze #000000;
@define-color theme_fg_color_breeze #000000;
@define-color theme_header_background_backdrop_breeze #ece9d8;
@define-color theme_header_background_breeze #ece9d8;
@define-color theme_header_background_light_breeze #ece9d8;
@define-color theme_header_foreground_backdrop_breeze #000000;
@define-color theme_header_foreground_breeze #000000;
@define-color theme_header_foreground_insensitive_backdrop_breeze #000000;
@define-color theme_header_foreground_insensitive_breeze #000000;
@define-color theme_hovering_selected_bg_color_breeze #eff3fd;
@define-color theme_selected_bg_color_breeze #f3f6fd;
@define-color theme_selected_fg_color_breeze #000000;
@define-color theme_text_color_breeze #000000;
@define-color theme_titlebar_background_backdrop_breeze #7595e1;
@define-color theme_titlebar_background_breeze #0054d3;
@define-color theme_titlebar_background_light_breeze #ece9d8;
@define-color theme_titlebar_foreground_backdrop_breeze #f8f8f8;
@define-color theme_titlebar_foreground_breeze #f8f8f8;
@define-color theme_titlebar_foreground_insensitive_backdrop_breeze #f8f8f8;
@define-color theme_titlebar_foreground_insensitive_breeze #f8f8f8;
@define-color theme_unfocused_base_color_breeze #ffffff;
@define-color theme_unfocused_bg_color_breeze #ece9d8;
@define-color theme_unfocused_fg_color_breeze #000000;
@define-color theme_unfocused_selected_bg_color_alt_breeze #f3f6fd;
@define-color theme_unfocused_selected_bg_color_breeze #f3f6fd;
@define-color theme_unfocused_selected_fg_color_breeze #000000;
@define-color theme_unfocused_text_color_breeze #000000;
@define-color theme_unfocused_view_bg_color_breeze #e6e6e6;
@define-color theme_unfocused_view_text_color_breeze #8a8a8a;
@define-color theme_view_active_decoration_color_breeze #eff3fd;
@define-color theme_view_hover_decoration_color_breeze #eff3fd;
@define-color tooltip_background_breeze #ece9d8;
@define-color tooltip_border_breeze #b1afa2;
@define-color tooltip_text_breeze #000000;
@define-color unfocused_borders_breeze #b1afa2;
@define-color unfocused_insensitive_borders_breeze #c0bdb0;
@define-color warning_color_backdrop_breeze #f67400;
@define-color warning_color_breeze #f67400;
@define-color warning_color_insensitive_backdrop_breeze #faae50;
@define-color warning_color_insensitive_breeze #faae50;
