/*
*
* MihuuTheme
* Author: MihaiStreames
*
*/

*   {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 13px;
}

window#waybar {
    background-color: #0F122D;
    border-bottom: 3px solid #c3c3ca;
    color: #c3c3ca;
    transition-property: background-color;
    transition-duration: .5s;
}

/*
window#waybar.hidden {
    opacity: 0.3;
}

window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #A6ADC8;
}


window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #1E1E2E;
    border: none;
}
*/

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #A6ADC8;
}

/* you can set a style on hover for any module like this
#pulseaudio:hover {
    background-color: #a37800;
}
*/

tooltip {
  border-radius: 8px;
  padding: 15px;
  color: #c3c3ca;
  background-color: #0F122D;
}

tooltip label {
  padding: 5px;
  color: #c3c3ca;
  background-color: #0F122D;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #c3c3ca;
}

#workspaces button:hover {
    background: rgba(85, 79, 151, 0.2)
}

#workspaces button.active {
    color: #0F122D;
    background-color: #c3c3ca;
    box-shadow: inset 0 -3px #0F122D;
}

#workspaces button.urgent {
    background-color: #956375;
}

#mode {
    background-color: #64727D;
    box-shadow: inset 0 -3px #A6ADC8;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
    padding: 0 10px;
    color: #0F122D;
    background-color: #c3c3ca;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#battery.charging, #battery.plugged {
    color: #c3c3ca;
    background-color: #554F97;
}

@keyframes blink {
    to {
        background-color: #8c6b9f;
        color: #0F122D;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: #956375;
    color: #0F122D;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #0F122D;
}

#network.disconnected {
    background-color: #f53c3c;
}

#pulseaudio.muted {
    background-color: #554F97;
    color: #c3c3ca;
}

#wireplumber {
    background-color: #fff0f5;
    color: #1E1E2E;
}

#wireplumber.muted {
    background-color: #f53c3c;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#privacy {
    padding: 0;
}

#privacy-item {
    padding: 0 5px;
    color: white;
}

#privacy-item.screenshare {
    background-color: #cf5700;
}

#privacy-item.audio-in {
    background-color: #1ca000;
}

#privacy-item.audio-out {
    background-color: #0069d4;
}
