/*
 * ██╗    ██╗ █████╗ ██╗   ██╗██████╗  █████╗ ██████╗
 * ██║    ██║██╔══██╗╚██╗ ██╔╝██╔══██╗██╔══██╗██╔══██╗
 * ██║ █╗ ██║███████║ ╚████╔╝ ██████╔╝███████║██████╔╝
 * ██║███╗██║██╔══██║  ╚██╔╝  ██╔══██╗██╔══██║██╔══██╗
 * ╚███╔███╔╝██║  ██║   ██║   ██████╔╝██║  ██║██║  ██║
 *  ╚══╝╚══╝ ╚═╝  ╚═╝   ╚═╝   ╚═════╝ ╚═╝  ╚═╝╚═╝  ╚═╝
 *
 * Colors - Monokai spectrum
 */


/* TODO - NEED TO BE ADAPTED */
@define-color base-darkest #191919;
@define-color base-dark    #222222;
@define-color medium-dark  #525053;

@define-color text     #f7f1ff;
@define-color subtext0 #bab6c0;
@define-color subtext1 #8b888f;

@define-color accent-red    #fc618d;
@define-color accent-orange #fd9353;
@define-color accent-yellow #fce566;
@define-color accent-green  #7bd88f;
@define-color accent-cyan   #5ad4e6;
@define-color accent-purple #948ae3;
