/*  ██████╗ ██████╗ ██╗      ██████╗ ██████╗ ███████╗ */
/* ██╔════╝██╔═══██╗██║     ██╔═══██╗██╔══██╗██╔════╝ */
/* ██║     ██║   ██║██║     ██║   ██║██████╔╝███████╗ */
/* ██║     ██║   ██║██║     ██║   ██║██╔══██╗╚════██║ */
/* ╚██████╗╚██████╔╝███████╗╚██████╔╝██║  ██║███████║ */
/*  ╚═════╝ ╚═════╝ ╚══════╝ ╚═════╝ ╚═╝  ╚═╝╚══════╝ */


@define-color bg #222222;
@define-color fg #bab6c0;
